:root{
  /* ===== THEME COLORS ===== */
  --color-main: #000000;
  --color-secondary: #131313;
  --color-accent: #ff5100;
  --color-hover: #dd4600;
  --color-text: #eeeeee;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: var(--color-main);
  padding-top: 60px;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* ================================================
HEADER SECTION 
==================================================*/

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  background: var(--color-secondary);
  border-bottom: 3px solid var(--color-accent);
}

.header-inner {
  max-width: 1100px; 
  margin: 0 auto;
  padding: 18px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-text);
}

.header-subtitle {
  color: var(--color-text);
  font-size: 16px;
}

.header-nav a {
  margin-left: 28px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
}

.header-nav a:hover {
  text-decoration: underline;
}


/* ================================================
SHOWCASE SECTION 
==================================================*/

.showcase {
  text-align: center;
  padding: 80px 20px;
  background: var(--color-main);
}

.showcase-small {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--color-text);
}

.showcase-title {
  font-size: 72px;
  color: var(--color-text);
  margin: 0;
  line-height: 1.1;
}

.showcase-desc {
  max-width: 600px;
  margin: 25px auto;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
}

.showcase-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 28px;
  background: var(--color-accent);
  color: var(--color-text);
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
    transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.showcase-btn:hover{
  background: var(--color-hover);
  transform: scale(1.06);
  box-shadow: 0 8px 25px var(--color-hover);
}

.showcase-btn:active{
  transform: scale(0.97);
}

/* ================================================
VIDEO SECTION 
==================================================*/

.video-section {
  width: 100%;
  background: var(--color-main);
}

.showcase-video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}


/* ================================================
ABOUT SECTION 
==================================================*/

.about {
  background: var(--color-secondary);
  padding: 80px 20px;
}

.about-container {
  max-width: 950px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}


.about-text h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: var(--color-text);
}

.about-role {
  color: var(--color-accent);
  margin-bottom: 15px;
}

.about-text p {
  max-width: 500px;
  line-height: 1.6;
  color: var(--color-text);
}

.about-icons {
  margin: 15px 0;
}

.icon{
  width:36px;
  height:36px;
  color:var(--color-accent);  
}

.about-icons img {
  width: 28px;
  margin-right: 6px;
}

.about-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 14px 26px;
  background: var(--color-accent);
  color: var(--color-text);
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.about-btn:hover{
  background: var(--color-hover);
  transform: scale(1.06);
  box-shadow: 0 8px 25px var(--color-hover);
}

.about-image img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
}

/* ================================================
PORTFOLIO PREVIEW
==================================================*/

.portfolio-preview {
  background: var(--color-main);
  padding: 100px 20px;
}

.portfolio-container {
  max-width: 850px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  color: var(--color-text);
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 70px;
}

.blob {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 2px solid var(--color-accent);
  border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
}

.blob:nth-child(2) {
    gap: 50px;
  border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
}

.blob:nth-child(3) {
  border-radius: 50% 60% 40% 60% / 60% 40% 60% 40%;
}

.blob:nth-child(4) {
  border-radius: 55% 45% 60% 40% / 40% 60% 40% 60%;
}

.portfolio-text h2 {
  font-size: 64px;
  margin: 10px 0;
  color: var(--color-text);
}

.portfolio-link {
  font-size: 40px;
  text-decoration: none;
  color: var(--color-accent);
}

/* ================================================
FOOTER
==================================================*/

.site-footer {
  background: var(--color-secondary);
  border-top: 1px solid var(--color-accent);
  padding: 40px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left h2 {
  margin: 0;
  color: var(--color-text);
}

.footer-role {
  color: var(--color-text);
  margin-top: 5px;
}

.footer-center,
.footer-right {
  text-align: center;
  color: var(--color-text);
}

/* ================================================
ABOUT PAGE
==================================================*/

.about-hero {
  width: 100%;
  height: 260px;
  background-image: url("assets/about/about-banner.avif"); 
  background-size: cover;
  background-position: center;
  position: relative;
}

.about-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-hero h1 {
  color: var(--color-text);
  font-size: 48px;
  font-weight: 500;
}

.about-content {
  background: var(--color-main);
  padding: 80px 20px;
}

.about-content-inner {
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-text);
}

.about-content h2 {
  font-size: 40px;
  margin-bottom: 25px;
  color: var(--color-text);
}

.about-content p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 22px;
  max-width: 800px;
  color: var(--color-text);
}

.contact-section {
  background: var(--color-secondary);
  padding: 80px 60px;
}

.contact-inner {
  max-width: 1000px;
  margin: auto;
  color: var(--color-text);
}

.contact-section h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-sub {
  margin-bottom: 25px;
}

/* ================================================
CONTACT SECTION 
==================================================*/

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: start;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-left input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #bbb;
  font-size: 15px;
}

.contact-linkedin img {
  width: 28px;
  margin-bottom: 10px;
}

.contact-right textarea {
  width: 100%;
  height: 180px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #bbb;
  font-size: 15px;
  resize: none;
}

.contact-btn {
  margin-top: 25px;
  padding: 14px 40px;
  background: var(--color-accent);
  color: var(--color-text);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  float: right;
  cursor: pointer;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.contact-btn:hover {
  background: var(--color-hover);
  transform: scale(1.06);
  box-shadow: 0 8px 25px var(--color-hover);
}

/* ================================================
PROJECTS PAGE
==================================================*/

.projects-hero {
  text-align: center;
  padding: 140px 20px 70px;
  max-width: 900px;
  margin: 0 auto;
  color: var(--color-text);
}

.projects-hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.projects-hero p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 16px;
}

.projects-grid {
  max-width: 1100px;
  margin: 40px auto 120px;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 
    opacity 0.3s ease;
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 14px;
  text-align: center;
}


.project-buttons {
  display: flex;
  gap: 12px;
}

.btn-overview,
.btn-details {
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.btn-overview {
  background: var(--color-accent);
  color: var(--color-text);
}

.btn-overview:hover {
  background: var(--color-hover);
}

.btn-details {
  background: var(--color-secondary);
  color: var(--color-text);
}

.btn-details:hover {
  background: var(--color-main);
}

.modal{
  display: none;  
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  z-index: 9999;

  overflow-y: auto;
  justify-content: center;
  align-items: flex-start;

  padding: 60px 20px;
}


.modal-box{
  background: var(--color-secondary);
  width: 900%;
  max-width: 1100px;
  color: var(--color-text);

  padding: 40px;
  border-radius: 14px;
  position: relative;

  margin: auto;
}


@keyframes popup{
  from{ transform:scale(.9); opacity:0; }
  to{ transform:scale(1); opacity:1; }
}

.modal-close {
  position: absolute;
  right: 18px;
  top: 12px;
  font-size: 28px;
  cursor: pointer;
}

.project-thumb{
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
transition: transform .45s ease;
}

.project-card:hover .project-thumb{
  transform: scale(1.06);
}

.modal-title{
  font-size: 36px;
  margin-bottom: 10px;
}

.modal-meta{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.modal-desc{
  line-height: 1.6;
  margin-bottom: 25px;
}

.modal-video{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.modal-gallery{
  column-count: 3;
  column-gap: 18px;
  margin-top: 20px;
}

.modal-gallery-media{
  width:100%;
  margin-bottom:18px;
  border-radius:12px;
  break-inside: avoid;
  display:block;
}

.modal-gallery-media:hover{
  transform:scale(1.03);
}


.modal-bottom-buttons{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
  margin-top:40px;
}

.modal-btn{
  padding:14px 26px;
  border-radius:10px;
  text-decoration:none;
  font-weight:bold;
  border:none;
  cursor:pointer;
  font-size:15px;
}

.modal-details{
  background:var(--color-accent);
  color:white;
}

.modal-details:hover{
  background:var(--color-hover);
}
.modal-prev{
  background:#eee;
}
.modal-prev:hover{
  background:#ddd;
}

.modal-next{
  background:#eee;
}

.modal-next:hover{
  background:#ddd;
}


.image-viewer{
  display:none;
  position:fixed;
  inset:0;
  background: rgba(0,0,0,0.85);
  z-index: 10000;

  align-items:center;
  justify-content:center;
}

.image-viewer img{
  max-width:90%;
  max-height:85%;
  border-radius:12px;
  box-shadow:0 20px 60px rgba(0,0,0,.6);

  animation: zoomIn .25s ease;
}

@keyframes zoomIn{
  from{ transform:scale(.8); opacity:0;}
  to{ transform:scale(1); opacity:1;}
}



/* ================================================
MOBILE RESPONSIVENESS 
==================================================*/

@media (max-width: 900px) {

      .site-header {
    padding: 16px 18px;
  }

  .header-nav a {
    margin-left: 16px;
    font-size: 15px;
  }
  
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text h2 {
    font-size: 34px;
  }

  .about-image img {
    width: 140px;
    height: 140px;
    margin-top: 10px;
  }

  .portfolio-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    max-width: 100%;
  }

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; 
  gap: 30px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

  .blob {
    width: 200px;
    height: 200px;
  }

  .portfolio-text {
    padding: 0 10px;
  }

  .portfolio-text h2 {
    font-size: 42px;
  }

    .contact-grid {
    grid-template-columns: 1fr;
  }

  .contact-btn {
    width: 100%;
    float: none;
  }

    .project-overlay{
    opacity: 1;    
    background: rgba(0,0,0,0.55);
  }

  .project-card:hover .project-overlay{
    opacity: 1;             
  }

  .project-overlay h3{
    font-size: 20px;
  }

  .project-buttons{
    flex-direction: column;
    gap: 10px;
  }

  .btn-overview,
  .btn-details{
    width: 140px;
    text-align: center;
  }

  .modal-gallery{
    column-count:2;
  }

  .modal-title{
    font-size: 26px;
  }

  .modal-bottom-buttons{
    flex-direction: row;          /* keep horizontal */
    justify-content: space-between;
    gap: 10px;
  }


}

