.section{
  position:relative;
  padding:60px 20px;
  color: var(--color-text);
}

.section-center{
  text-align:center;
  max-width:1000px;
  margin:auto;
}

.title-xl{
  font-size:64px;
  margin-bottom:30px;
}

.text-small{
  font-size:20px;
  margin-bottom:10px;
}

.text-block{
  max-width:750px;
  margin:0 auto;
  line-height:1.8;
}

.side-art{
  position:absolute;
  top:140px;
  width:220px;
  pointer-events:none;
  z-index:-1;
}

.side-art.left{ left:-180px; }
.side-art.right{ right:-180px; }

.card-grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:40px;
  max-width:1200px;
  margin:80px auto;
  padding:0 20px;
}

.feature-card{
  background:#111;
  border-radius:16px;
  overflow:hidden;
  transition:.35s;
  display:flex;
  flex-direction:column;
}

.feature-card:hover{
  transform:translateY(-8px);
  box-shadow:0 10px 20px var(--color-accent);
}

.card-media{
  width:100%;
  height:auto;
  display:block;
  border-bottom:1px solid rgba(255,255,255,.05);
}


.card-body{
  padding:22px;
}

.title-md{
  font-size:28px;
  margin-bottom:12px;
}

.accent{
  color:var(--color-main);
}

.slideshow{
  position:relative;
  max-width:900px;
  margin:60px auto;
}

.slides{
  position:relative;
  overflow:hidden;
  border-radius:14px;
}

.slide{
  display:none;
  position:relative;
}

.slide.active{
  display:block;
}

.slide img{
  width:100%;
  display:block;
  border-radius:14px;
}

.slide-text{
  position:absolute;
  bottom:0;
  left:0;
  right:0;

  padding:20px 24px;
  color:white;
  font-size:15px;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.7),
    rgba(0,0,0,0)
  );
}

.slide-btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:rgba(255,255,255,0.85);
  border:none;
  padding:14px 18px;
  font-size:20px;
  cursor:pointer;
  border-radius:8px;
  z-index:5;

  opacity:0;
  pointer-events:none;
  transition:opacity .25s ease;
}

.prev{ left:10px; }
.next{ right:10px; }


.slideshow:hover .slide-btn{
  opacity:1;
  pointer-events:auto;
}



.caption{
  text-align:center;
  opacity:.7;
  margin-top:12px;
}




/* ==========================
    Responsive Design
========================== */

@media (max-width:1100px){
  .side-art{ display:none; }
}

@media (max-width:700px){
  .card-grid{
    grid-template-columns: 1fr;
  }
}

